* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    cursor: pointer;
}

/* START NAVBAR */
nav {
    font-size: 20px;
    border-bottom: 2px solid #d9ad02;
    box-shadow: 0 0 15px #d9ad02;
}
.container-fluid .icon a:hover {
    color: #d9ad02;
    transition: 0.2s ease;
}
.container-fluid .navbar-nav a:hover {
    color: #d9ad02;
    transition: 0.2s ease;
}
.container-fluid a.act {
    color: #d9ad02;
}
.navbar-nav {
    margin-left: 30px;
    letter-spacing: 1px;
}
/* END NAVBAR */

/* START PRODUK */
.main-txt h1 {
    margin-bottom: 30px;
}
.main-txt h1 span {
    color: #d9ad02;
}
.row .card {
    margin: 5px 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    transition: 0.8s all;
    border-radius: 20px;
    /* height: 500px; */
}
.row .card:hover {
    scale: 1.1;
    transition: 0.8s all;
    box-shadow: 0px 3px 8px #5c1d0d;
}
.row .card .card-body {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    border-bottom: 1px solid;
}
.row .card img {
    border-radius: 20px 20px 0 0;
    /* height: 200px;
    object-fit: cover; */
}
.row .card .btn {
    border-radius: 0 0 20px 20px;
}
.row .card a {
   border: none;
}
.row .card h4 {
    color: #d9ad02;
}
.row .card b {
    color: #5c1d0d;
}
.container-fluid .img img {
    margin-right: 70px;
}
.quantity-container {
    align-items: center;
    text-align: center;
}
.quantity-container input{
    width: 20px;
    border: none;
    text-align: center;
    font-weight: bold;
    color: black;
}
.quantity-container button {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bolder;
    border: 1px solid;
}
.quantity-container input {
    background-color: transparent;
}
.quantity-container span:nth-child(2) {
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 990px) {
    .row {
        display: block;
        width: 75%;
        margin: auto;
    }
    .row .card:hover {
        scale: unset;
    }
    .row .col-4 {
        width: 100%;
    }
    .container-fluid .img img, .container-fluid .icon {
        margin-right: 0;
    }
}
/* END PRODUK */

/* FAVOURITE START */

/* .row .carousel-inner .card:hover {
    scale: unset;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
} */

/* FAVOURITE END */
