body {
    font-family: bolen;
}

.container {
    padding-top: 7%;
}

.tombolLogout {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.tombolEdit {
    position: fixed;
    bottom: 20px;
    right: 130px;
}

.contentProfile {
    font-size: 20px;
}

.profileData {
    border: 4px solid yellow;
    border-radius: 50px;
    padding: 6px 9px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
