.testi{
    text-align: center;
    margin-top: 10%;
    color: #d9ad02;
    width: 30%;
    margin-left: 35%;
}

h2{
    text-align: center;
}


.isi{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/img/produk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 10%; */
    
}

.content{
    background: #e6e5e5;
    width: 50%;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 12%;
    outline-style: solid;
    outline-color: #d9ad02;
    outline-width: 7px;
}
.text-content{
    height: 100%;
}
.img-area{
    position: relative;
    overflow: hidden;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    border: 5px solid #fff;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.5);
}
.img-area img{
    width: 100%;
}
.text-content p{
    line-height: 1.0;
}
.text-content h2{
    text-transform: uppercase;
    font-weight: 300;
}
.owl-theme .owl-controls{
    margin-top: 150px;
    margin-left: 30px;
}
.owl-dots{
    text-align: center;
    margin-top: 3%;
}
.owl-dot{
    display: inline-block;
    height: 20px !important;
    width: 20px !important;
    background-color: #d9ad02 !important;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 5px;
}

@media (max-width: 991px){
    .testi{
        text-align: center;
    }
    .isi{
        margin-top: 30%;
    }
    h1{
        margin-top: 20%;
    }
    .container{
        width: 100%;
    }
    .content{
        width: auto;
        padding: 30px 5px;
    }
}

