* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    cursor: pointer;
}

/* START NAVBAR */
nav {
    font-size: 20px;
    border-bottom: 2px solid #d9ad02;
    box-shadow: 0 0 15px #d9ad02;
    color: red;
}
.container .icon a:hover {
    color: #d9ad02;
    transition: 0.2s ease;
}
.container .navbar-nav a:hover {
    color: #d9ad02;
    transition: 0.2s ease;
}
.container a.act {
    color: #d9ad02;
}
.navbar-nav {
    margin-left: 30px;
    letter-spacing: 1px;
}
/* END NAVBAR */

