body {
    overflow-x: hidden;
}

.dashboard {
    height: 100vh;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.text h1 {
    font-weight: bolder;
    text-shadow: 0px 0px 20px rgba(255, 204, 35, 0.87);
    /* font-size: 3rem; */
}

.text p {
    font-weight: 500;

}

.content_img {
    width: 80%;
    margin-top: 12%;
    filter: drop-shadow(20px 14px 8px rgb(0, 0, 0));
    cursor: pointer;
}

.content {
    margin-top: 15%;
}
i {
    text-decoration: none;
    color: white;
}

.about_section {
    height: 100vh;
    background-image: url('../img/Rectangle\ 342.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.img_about {
    margin-top: 15%;
    filter: drop-shadow(10px 25px 8px rgba(0, 0, 0, 0.711));
    cursor: pointer;
    width: 90%;
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
    .content_img {
    width: 60%;
    margin-top: 9%;

    }
}
